* {
  border: 1px solid black;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 30px;
  gap: 30px;
}

.profile-picture {
  border-radius: 50%;
}