* {
  border: 1px solid black;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}

.social-links-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 30px;
  gap: 30px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
}

.profile-picture {
  border-radius: 50%;
}

.bio > *,
.link-list > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: white;
}

.social-link {
  padding: 10px 140px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
}

.name {
  margin-bottom: 10px;
}

.location {
  margin-bottom: 25px;
  color: hsl(75, 94%, 57%);
}